<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <title>Header & Footer</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        header {
            background-image: url("https://tse4.mm.bing.net/th?id=OIP.BPMjMfBk-wwxziJf5yJw8gHaEf&pid=Api&P=0");
            background-position: center;
            padding: 5px;
            color: ghostwhite;
            font-style: italic;
            text-align: center;
        }

        span {
            color: orange;
        }

        footer {
            background-color: gray;
            background-position: center;
            padding: 5px;
            color: ghostwhite;
            font-style: italic;
            text-align: center;
        }

        .fab {
            font-size: 35px;
            margin: 8px;
        }

        P {
            color: azure;
        }

        a {
            text-decoration: none;
        }

        img {
            height: 45px;
            width: 50px;
        }

        button {
            margin: 10px;
            margin-left: 900px;
        }
    </style>
</head>

<body>
    <header>
        <h1 id="head"><span>J</span>Spiders & <span>Py</span>Spiders</h1>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea provident odit alias quam quae quaerat quisquam quasi
        laborum ducimus, sunt fuga veniam maiores nemo consectetur velit reprehenderit sed ipsa et adipisci earum a
        saepe dolorum. Reiciendis molestiae ducimus atque illo! Hic ipsa facilis laboriosam velit cum odit quo iusto
        corrupti ea, distinctio expedita molestias magni vero veritatis consequatur quos minus, harum est! Libero quam,
        doloremque aspernatur similique ex molestias deleniti perspiciatis excepturi magni in porro reprehenderit
        tempore dolorum nulla, odio veniam voluptatem! Provident consequatur quis earum numquam, nisi voluptate nobis
        aspernatur modi harum placeat aliquam nemo, consequuntur, obcaecati excepturi. Velit fugit quas eius laudantium
        nobis pariatur accusantium porro suscipit nemo optio necessitatibus rerum sapiente numquam error iste sequi modi
        nostrum dolores, distinctio temporibus, odit saepe! Modi ipsum officiis aperiam quidem ullam, ab dolor alias
        impedit molestiae quaerat autem velit molestias voluptatibus eum necessitatibus neque odio atque dolore at
        quibusdam debitis minus, hic nisi laudantium! Vitae mollitia soluta voluptatem, hic accusantium distinctio sint,
        iste, vel veniam amet error repellendus. Nisi unde molestiae aut amet quibusdam. Minima voluptatem placeat
        ducimus modi iste quas repellat, maxime sed, sequi, alias totam. Saepe quaerat voluptatum aperiam obcaecati ex
        facere laboriosam ducimus rem excepturi aliquid eos doloremque qui iste veritatis, veniam libero quam ab maiores
        quidem et repellendus delectus magnam tenetur omnis? Maxime sequi nihil ipsa optio nulla neque sunt corporis
        nisi consequatur? Eos fugiat cum facere molestias aut soluta sequi quam magnam sunt et rerum beatae incidunt
        saepe deleniti aliquid perspiciatis consequatur explicabo, ipsum debitis ab dolorem quis ipsa natus in. Hic
        cupiditate repellat nisi vero odio, doloribus vel, molestiae rem provident nulla minima, ad qui sapiente aut!
        Dicta rerum sequi suscipit saepe libero ipsa ex ipsam dolorem natus non et expedita odit, nemo voluptatem nulla
        quibusdam, error cum, quaerat debitis voluptas neque veniam pariatur architecto. Soluta totam odit consequatur
        placeat quas nemo illo accusamus ullam dignissimos dolor provident sunt explicabo harum, nostrum beatae aperiam
        aspernatur ipsum rem at modi, incidunt animi sit quisquam! Hic enim error odit porro recusandae repudiandae?
        Temporibus tempora dolor aliquam neque. Magni ducimus cum numquam placeat? Consequatur nisi, provident optio,
        itaque accusamus, doloremque vitae consectetur amet quos explicabo distinctio quo? Accusantium, sit perferendis
        eaque nobis, nisi, quibusdam ullam assumenda deserunt magni maiores nulla similique labore provident molestias
        ut nemo suscipit non laudantium ex harum eveniet? Ea deserunt, at aut neque sunt mollitia eligendi ut provident
        ab quibusdam quis error inventore, odio assumenda. Quos officiis tempora, dolorem voluptates tenetur odio
        similique temporibus dolor nulla facere illo mollitia harum eos unde. Optio fugiat, eaque ullam, soluta
        sapiente, blanditiis asperiores odit accusamus dolorum dicta porro dolore. Corporis officiis doloribus numquam
        sed ad neque maxime voluptates nemo quia dolorum totam officia deleniti porro in quasi autem cum repellat
        voluptatibus, cupiditate eum? Tenetur perferendis aliquam non ex, distinctio molestias quae, exercitationem
        architecto necessitatibus nesciunt esse eveniet eligendi. Fugiat soluta laborum quisquam quas ipsa et atque
        rerum, quo, dolores at non sapiente nostrum aliquam doloremque sit vitae illum voluptatem. Quaerat ea eligendi
        nostrum eum obcaecati assumenda error reprehenderit voluptatem debitis labore? Amet aut repudiandae autem atque,
        ipsam ullam odit voluptatibus accusamus! Quis eum error ipsa obcaecati ducimus laboriosam explicabo. Possimus
        accusantium temporibus aspernatur necessitatibus consequatur, praesentium ex. Aliquam, rerum totam laboriosam
        consectetur quisquam eos quia officiis inventore eveniet odio esse illo optio consequatur at, dolore saepe
        soluta ea ad? Odit odio recusandae praesentium possimus officia cumque reiciendis nihil quibusdam soluta a nam
        suscipit, consequatur libero amet doloremque assumenda voluptate aspernatur nisi architecto id vitae eum porro
        explicabo! Blanditiis fuga doloremque enim quisquam, at minima aliquid, ea voluptatum ut, saepe illum dolorem
        corporis eius fugit eum ad dignissimos earum. Deserunt ipsa tenetur illum deleniti eligendi magni quam voluptate
        cupiditate odit delectus, natus quas rem magnam, tempore porro distinctio nemo culpa nulla error vero eius eum
        nihil? A, exercitationem asperiores, magnam cumque sint officiis, voluptates qui repellendus incidunt architecto
        temporibus animi aliquam voluptas. Ut ratione nisi quisquam repellat accusantium tenetur voluptas ea maiores
        ducimus dignissimos odit velit, reiciendis adipisci libero, dolore vitae error, excepturi alias enim quos!
        Laudantium mollitia consequuntur suscipit impedit voluptate minus officia dolorem debitis tempore dolorum
        quaerat corrupti, expedita quam omnis nobis nesciunt, velit doloribus, totam doloremque. Quis velit
        necessitatibus aspernatur deserunt numquam odit eligendi voluptatem nesciunt earum temporibus. Magnam laudantium
        consequatur neque eum recusandae quas, facilis fugit vero beatae quis assumenda ipsa quasi repellat reiciendis
        autem quo, corporis molestiae, harum doloremque culpa eligendi. Molestias debitis velit in enim unde, facere
        consequatur illo quasi explicabo consectetur tempore! Accusamus perspiciatis nostrum voluptatem facere provident
        deleniti, cumque asperiores reiciendis quas, quaerat cum earum. Consectetur unde vitae ipsam nulla voluptas,
        molestias dolor excepturi. Numquam ratione culpa exercitationem voluptate tempora nulla? Quisquam ipsam, eius
        laudantium culpa dolorem fugit. Aliquid quidem maiores nemo eum error autem illum saepe porro esse dicta eaque
        cumque dolorem quibusdam ratione pariatur numquam, consequuntur necessitatibus. Ab quia corrupti iure, assumenda
        possimus necessitatibus, inventore temporibus dicta repellendus enim, delectus rerum praesentium ratione eum
        aliquam id nisi ut. Doloremque culpa, ratione at numquam natus, similique amet maxime, atque est necessitatibus
        voluptates in totam soluta libero sint nisi! Sunt quas voluptate tenetur, quos possimus assumenda neque
        inventore eveniet dolores, quisquam similique nobis omnis ullam exercitationem minus ab officiis hic debitis
        deleniti magnam nam ad facilis? Esse accusamus molestias fuga exercitationem, nobis quaerat in? Soluta vitae,
        ullam quasi, possimus odit, quibusdam doloribus eius maxime impedit debitis maiores enim est ut. Optio nulla
        maiores sit. Explicabo eius minus eligendi commodi dolor doloribus voluptates nemo ut officia eum omnis dolores
        dicta expedita reiciendis corporis minima, repudiandae non repellat facilis facere nihil consequuntur asperiores
        quibusdam dolore. Nulla quae aliquam necessitatibus fugit neque, maiores sint! Numquam expedita est,
        voluptatibus, eum dolores veritatis assumenda ea aliquam facilis rerum, recusandae in et nam ipsam non laborum
        illum architecto placeat consequuntur nemo porro! Cumque, fuga, itaque ut sunt eligendi officiis eius dolore
        porro amet ad iste reprehenderit dolores, corporis nostrum. Sapiente odio asperiores esse necessitatibus eius
        commodi qui at deleniti sit laboriosam? Tenetur, alias tempore accusamus sequi, laborum voluptatum error, aut
        amet quas dignissimos exercitationem nam et ipsam eius sed molestiae praesentium quae nesciunt totam fugiat iste
        distinctio consectetur dicta. Aut nemo voluptate quas incidunt fugit cupiditate illum laborum nostrum at cumque
        in saepe beatae, architecto minus consequatur adipisci optio ea, debitis eaque facilis neque illo sapiente
        voluptatem! Sit tempore enim illo placeat ad maiores odio, sapiente ullam quasi, voluptatem cumque consequatur
        similique consequuntur animi, deleniti provident est sunt minima dolores unde ipsam ab alias! Tenetur quisquam
        sit dicta voluptatibus ratione unde iste quidem amet ipsam dolor? Repellat, cupiditate? Sint numquam, ipsum
        rerum, minus eaque sed sunt iure ex tempore aliquid ratione quasi reiciendis ad natus magnam architecto commodi
        quae, vel consequuntur quo impedit nam pariatur hic! Illo voluptatibus eveniet veritatis? Numquam, commodi dicta
        quam sapiente, non repellendus dolorem magni earum dolores error atque! Harum quam fugiat laborum soluta eum
        perferendis dolor. Voluptatibus beatae natus consequuntur, similique aperiam ipsam delectus minima illum sit
        praesentium ullam recusandae hic molestias sed vitae odit iure voluptatem enim facilis voluptas nobis nesciunt
        magnam modi. Reprehenderit totam rerum omnis esse accusamus deleniti tenetur eligendi dignissimos, recusandae
        unde facere cumque harum ipsa distinctio molestias delectus inventore velit tempora at excepturi exercitationem
        sequi iure? Obcaecati, magnam! Quis nesciunt animi minus qui, omnis aspernatur aperiam provident non suscipit
        laboriosam distinctio magni modi assumenda consequuntur eum cumque in voluptatum quasi, commodi voluptatem
        recusandae! Praesentium laudantium totam ab assumenda tempore ratione porro quibusdam. Ducimus ipsum asperiores
        saepe nihil laudantium suscipit iste tenetur consectetur explicabo doloremque nulla vel iure totam voluptas
        doloribus numquam magni quas esse earum atque eveniet, quasi provident. Ut harum cumque sequi! Expedita rem
        repudiandae sapiente doloribus aliquid nostrum a laboriosam provident pariatur explicabo earum placeat quam
        ullam, sed iure consequatur magni, illum voluptatibus quis sint ex in ab facilis quidem! Itaque quo sunt error.
        Ab mollitia rerum quo reprehenderit, provident saepe nemo excepturi iusto nostrum accusantium recusandae debitis
        fugit minima! Nulla, maiores fugit accusantium voluptatibus a doloremque quae iure, vel nesciunt dolores in
        recusandae nemo fugiat necessitatibus officiis debitis! Omnis porro autem magnam assumenda inventore deserunt,
        velit, atque, repudiandae eos nulla sint aspernatur officia. Asperiores similique dolore excepturi, cumque
        perferendis nam, repudiandae placeat suscipit assumenda, omnis laudantium maxime explicabo quibusdam eaque
        temporibus blanditiis minima reiciendis perspiciatis expedita facere eius tempore? Alias laborum maiores iste
        quis? Ut, possimus ipsa explicabo corporis earum debitis voluptas quis aspernatur quo mollitia ea sapiente,
        ipsum qui cum dignissimos doloribus doloremque. Cupiditate assumenda ratione, temporibus repellat esse vero
        sapiente rem tenetur debitis voluptatum quasi reiciendis obcaecati nam dolor explicabo excepturi quo molestias
        ipsam. Quaerat quas doloribus in suscipit odit atque velit, minus provident dolore, dolorem laborum magni quo
        quia quam architecto sit non assumenda, numquam accusamus tempore impedit maiores debitis voluptatem tenetur.
        Impedit voluptatem nostrum reiciendis eius magnam vero autem laboriosam sed expedita. Rerum cum quaerat aut,
        numquam officia commodi exercitationem magnam provident! Ipsum consequuntur fugit nulla, eos optio, facere, odio
        quam rerum laudantium nostrum earum iusto? Facere expedita, soluta magnam sint cupiditate voluptate, aperiam
        nobis sed eaque tempore sequi. Voluptates quidem veniam reiciendis, veritatis culpa similique mollitia
        voluptatem voluptas ipsa, quam sapiente voluptatibus tempora laboriosam aut corporis vel unde! Molestiae amet
        accusantium sapiente veritatis voluptatum quidem deleniti asperiores dolores aperiam totam excepturi aliquam in
        dolorem accusamus, ab vitae ut, eveniet officiis nobis sit inventore qui quo. Molestiae explicabo suscipit
        eveniet nisi officiis in saepe fugit? Dolore quo accusamus corporis esse nam ea, excepturi omnis! Sit sint,
        perferendis ipsam corrupti blanditiis autem asperiores! Magni veniam ipsum accusamus adipisci rem mollitia quam
        tenetur inventore, assumenda excepturi et? Architecto repellat cupiditate modi ducimus accusamus suscipit atque
        eum magni aperiam voluptatem, neque a, fugiat quam animi? Magni reiciendis aspernatur, soluta voluptatum
        officiis expedita. Dignissimos officiis expedita assumenda porro minima quasi molestias vero ipsam impedit neque
        odio harum, similique necessitatibus tenetur asperiores fuga possimus distinctio magnam! Laudantium cumque nisi
        quo, nobis quia quas praesentium quisquam aspernatur unde veritatis minima ducimus ut sapiente dicta velit ipsam
        nostrum! Perspiciatis ullam aspernatur, esse accusantium eaque enim sequi natus ex nesciunt exercitationem harum
        temporibus reprehenderit soluta mollitia optio porro aliquam illum quisquam itaque sunt. Quaerat voluptate magni
        culpa cupiditate odio porro. Eum fuga, voluptas fugit accusamus sit voluptatibus, tenetur optio totam earum
        ducimus saepe facere, explicabo quasi odit dolores rem ipsam? Perferendis nesciunt beatae tempore sint quaerat
        ut totam vel, explicabo eos error fugit dolorum qui, doloremque reiciendis obcaecati debitis blanditiis aliquam.
        Ad nihil aliquid, doloribus distinctio eaque harum? Dolor quam obcaecati, inventore rerum numquam omnis,
        blanditiis in quos qui, veniam maiores mollitia repudiandae velit minus ipsam aliquid laboriosam distinctio?
        Blanditiis quam aliquid, sint hic voluptatibus eligendi dolore? Nisi sed hic vitae pariatur eos accusantium ut,
        error dicta quod deserunt sit, aperiam doloribus asperiores incidunt omnis esse similique, iusto reprehenderit
        ipsum nobis cum? Facere similique, reprehenderit minima enim omnis saepe cum explicabo? Totam error dolorum
        alias modi nesciunt quisquam molestiae veniam, fuga iure sequi culpa inventore omnis quod dolorem eius eum
        veritatis magnam. Officia nulla sit eligendi ut, hic optio. Iure adipisci laboriosam autem repellat blanditiis
        sit doloremque libero porro nesciunt in voluptatem perspiciatis, quod dolores quidem explicabo ipsam a
        dignissimos aliquid neque commodi. Quae perferendis rerum necessitatibus repellendus aliquam odio modi. Soluta,
        atque quidem quo beatae maxime accusantium, consequatur magni quasi suscipit, nemo repudiandae deserunt nihil.
        Soluta cupiditate deleniti reiciendis similique deserunt, ea laborum quis itaque consequuntur quidem alias
        dolorum, quaerat eligendi dolor? In, perspiciatis, cumque inventore aspernatur sed repudiandae illum perferendis
        iusto voluptate rerum odio labore quia ab tenetur a? Quis sapiente nisi libero cumque perspiciatis a vero
        reprehenderit laboriosam, necessitatibus tempora officiis quidem. Consequatur, ea! Laborum placeat error, sint
        minus facere ullam ipsa tenetur itaque atque dolorem ipsum consequuntur praesentium ad dicta voluptates, quas
        aspernatur ab amet optio quia reiciendis adipisci ea! Numquam voluptates quia, facere explicabo placeat eveniet
        necessitatibus! Dolor qui laudantium eaque rem ipsum id accusantium repellat, quasi explicabo aliquid, eligendi
        incidunt atque eos, quas odio. Dolorum necessitatibus cupiditate odio, placeat doloribus exercitationem.
        Pariatur nostrum et dolore alias. Quas autem reiciendis pariatur molestias expedita natus culpa ad ex
        voluptates! Autem animi necessitatibus quo aliquam perspiciatis, tempore, cumque suscipit, ut velit doloribus
        et.</p>

    <footer>
        <h3>Copyright &copy 2023 Jspider</h3>
        <p>Adress:761/1, 3rd Floor, Dr Puneeth Rajkumar Rd, next to Chaitanya Techno School, near KLM ...</p>

        <!-- Facebook -->
        <a style="color: #3b5998;" href="#!" role="button">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>

        <!-- Twitter -->
        <a style="color: #55acee;" href="#!" role="button">
            <i class="fab fa-twitter fa-lg"></i>
        </a>

        <!-- Google -->
        <a style="color: #dd4b39;" href="#!" role="button">
            <i class="fab fa-google fa-lg"></i>
        </a>

        <!-- Instagram -->
        <a style="color: #ac2bac;" href="#!" role="button">
            <i class="fab fa-instagram fa-lg"></i>
        </a><br>
        <button> <a href="#head"><img src="https://tse4.mm.bing.net/th?id=OIP.jtPSOsXLJcPRNAvo5de_mwHaHa&pid=Api&P=0"
                    alt=""></a></button>
    </footer>
</body>

</html>