<!DOCTYPE html>
<html lang="en">
<head>
   <title>Details & Summary</title>
   <style>
    img{
        width: 350px;
        height: 300px;
    }
   </style>
</head>
<body>
    <details>
        <summary>Chapter-1</summary>
        <h2>School</h2>
        <img src="https://tse2.mm.bing.net/th?id=OIP.PRbbgpnkly9uEIINs_KqIwHaEo&pid=Api&P=0" alt="">
        <ul>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>ThrusDay</li>
            <li>Friday</li>
        </ul>
    </details>
</body>
</html>